$main-border: "1px green solid";

$button-border-radius: 5px;
$chart-border-radius: 15px;
$table-border-radius: 20px;
$modal-border-radius: 12px;
$crud-form-border-radius: 12px;
$input-border-radius: 8px;
$comments-border-radius: 12px;
$select-border-radius: 8px;
$check-box-border-radius: 4px;