@import "../Helpers/mixins";

$languages: (
  // language and there font families only
        en: (open-sans)
);

$all-sizes: (
  // laptop size / laptop type / tablet size / tablet type / mobile size / mobile type
        24px semi-bold 18px semi-bold 18px semi-bold,
        24px semi-bold 20px semi-bold 20px semi-bold,
        18px semi-bold 18px semi-bold 18px semi-bold,
        20px semi-bold 18px semi-bold 18px semi-bold,
        20px semi-bold 20px semi-bold 20px semi-bold,
        20px semi-bold 16px semi-bold 16px semi-bold,
        28px semi-bold 22px semi-bold 22px semi-bold,
        28px semi-bold 16px semi-bold 16px semi-bold,
        28px semi-bold 20px semi-bold 20px semi-bold,
        16px semi-bold 14px semi-bold 14px semi-bold,
        16px semi-bold 16px semi-bold 16px semi-bold,
        18px semi-bold 14px semi-bold 14px semi-bold,
        18px semi-bold 20px semi-bold 20px semi-bold,
        18px semi-bold 16px semi-bold 16px semi-bold,
        14px semi-bold 16px semi-bold 16px semi-bold,
        14px semi-bold 14px semi-bold 14px semi-bold,
        12px semi-bold 14px semi-bold 14px semi-bold,
        32px semi-bold 24px semi-bold 24px semi-bold,
        32px semi-bold 16px semi-bold 16px semi-bold,
        32px semi-bold 20px semi-bold 20px semi-bold,
        40px bold 20px semi-bold 20px semi-bold,
        40px bold 24px semi-bold 24px semi-bold,
        40px semi-bold 20px semi-bold 20px semi-bold,
        64px semi-bold 18px semi-bold 18px semi-bold,
        64px semi-bold 32px semi-bold 32px semi-bold,
        40px bold 24px semi-bold 24px semi-bold,
        28px semi-bold 22px semi-bold 22px semi-bold,
        22px semi-bold 18px semi-bold 18px semi-bold,
        14px semi-bold 12px semi-bold 12px semi-bold,
        12px semi-bold 12px semi-bold 12px semi-bold,
        40px semi-bold 24px semi-bold 24px semi-bold,
        40px semi-bold 32px semi-bold 32px semi-bold,
        12px semi-bold 14px regular 14px regular,
        12px regular 12px regular 12px regular,
        16px regular 14px regular 14px regular,
        16px regular 16px regular 16px regular,
        14px regular 14px regular 14px regular,
        14px regular 12px regular 12px regular,
        20px regular 14px regular 14px regular,
        20px regular 16px regular 16px regular,
        20px regular 20px regular 20px regular,
        24px regular 16px regular 16px regular,
        18px regular 14px regular 14px regular,
        12px semi-bold 16px semi-bold 16px semi-bold,
        16px semi-bold 14px semi-bold 12px semi-bold,
        16px bold 14px bold 12px bold
        40px bold 24px semi-bold 24px semi-bold,

);
