@import "../Helpers/mixins";
@import "../Variables/typography";

$objects: ();

@each $language-key, $language-value in $languages {
  @each $language-font-family in $language-value {
    @each $laptop-size, $laptop-family, $tablet-size, $tablet-family,
    $mobile-size, $mobile-family in $all-sizes {
      $object: (
              typography-type:
              #{$language-key}-#{$language-font-family}-#{$laptop-size}-#{$tablet-size}-#{$mobile-size}-#{$laptop-family}-#{$tablet-family}-#{$mobile-family},
              language-font-family-category: $language-font-family,
              langauge: $language-key,
              mobile-size: $mobile-size,
              tablet-size: $tablet-size,
              laptop-size: $laptop-size,
              mobile-family: $mobile-family,
              tablet-family: $tablet-family,
              laptop-family: $laptop-family,
      );
      $objects: append($objects, $object);
    }
  }
}

@mixin generateTypographyStyles($type, $main-color) {
  @each $object in $objects {
    $typography-type: map-get($object, typography-type);
    $color: $main-color;
    $mobile-size: map-get($object, mobile-size);
    $tablet-size: map-get($object, tablet-size);
    $laptop-size: map-get($object, laptop-size);
    $mobile-family: map-get($object, mobile-family);
    $tablet-family: map-get($object, tablet-family);
    $laptop-family: map-get($object, laptop-family);
    $language-font-family-category: map-get(
                    $object,
                    language-font-family-category
    );
    .#{$type}-#{$typography-type}.ant-typography {
      font-family: #{$language-font-family-category}-#{$laptop-family};
      font-size: $laptop-size;
      color: $color;
      @include fixedTypographyStyle;
      @if($type=="title"){
        @include fixedTitleLineHeight
      }
      @else {
        @include fixedTextLineHeight
      }

      @include media-query(tablet) {
        font-family: #{$language-font-family-category}-#{$tablet-family};
        font-size: $tablet-size;
      }
      @include media-query(mobile) {
        font-family: #{$language-font-family-category}-#{$mobile-family};
        font-size: $mobile-size;
      }
    }
  }
}